/********************************HEADER CSS*****************************/
.head{
	background-image: url(exam3.jpg);
	background-position:center;
	text-align:center;
	font-family:bradley hand itc;
	color:white; 
	background-color:black; 
	margin-top:-7px;
	margin-left:-9px; 
	margin-right:-9px;
	border:1px solid red;
	font-size: 30px;
}
.navigation{
	width: 30%;color: white;
	margin-left: 20px;
	font-family:bradley hand itc;
	font-size: 30px;

}
.td:hover{
	color: white;
}
.a{
text-decoration: none;
color: white;
font-family:bradley hand itc;
}
.a:hover{
	color: pink;
}
/********************************HEADER CSS*************/
form input{
	marin:10 10 10 10;
}

